*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
/build
/out

/*.apk
/ant.properties
/local.properties

*.iml
/.idea
/.gradle
/gradle.properties

.DS_Store
